{% extends 'layout.html.twig' %}
    {% block content %}
       
  <section id="content">
    <div class="container">
	<h1>Evento {{ task.getName() }}</h1>
					<article class="eventList ">
					<form method="post" action="" class="row">
					<label class="form-label" for="name"> Nombre: </label>
					<div class="mb-3 col-lg-8">
						<input class="form-control" name="nombre" type="text" value="{{ task.getName() }}">
					</div>
					<label class="form-label" for="description"> Descripción: </label>
					<div class="mb-3 col-lg-8">
						<textarea name="description" class="form-control">{{ task.getDescription() }}</textarea>
					</div>

					<label class="form-label" for="startDate"> fecha de comienzo: </label>
					<div class="mb-3 col-lg-8">
						<input class="form-control" name="startDate" type="date" value="{{ task.getStartDate()|date('Y-m-d') }}">
					</div>

					<label class="form-label" for="endDate"> fecha de finalización: </label>
					<div class="mb-3 col-lg-8">
						<input class="form-control" name="endDate" type="date" value="{{ task.getEndDate()|date('Y-m-d') }}">
					</div>

					<label class="form-label" for="place"> Localización: </label>
					<div class="mb-3 col-lg-8">
						<input class="form-control" name="place" type="text" value="{{ task.getPlace() }}">
					</div>
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary mb-3 col-lg-3">Actualizar</button>
					</div>
{# 					<div class="greenDot me-3"></div> <span class="fs-3 me-3">{{ task.getName() }}</span>	
					<span class="text-muted">{{ task.getStartDate()|date('d/m/Y') }}</span> - 
					<span class="text-muted me-3">{{ task.getEndDate()|date('d/m/Y') }}</span>
					<span class="text-muted me-3">{{ task.getPlace() }}</span>
					<div class="text-end">
					<a class="btn btn-primary" href="">Detalles</a>
					<a class="btn btn-warning" href="">Editar Evento</a> 
					<a class="btn btn-danger" href="">Borrar Evento</a>
					</div> #}
					</article>


             
      </div>
    </div>
  </section>
</div>
{% endblock %}