{% extends 'layout.html.twig' %}
    {% block content %}
    	<div id="content">
	<h3>Usuario SELECCIONADO:</h3>
	<nav>
		<ul>
			<li>ID Usuario : {{detalleClient["id"]}}</li>
			<li>Nombre : {{detalleClient["name"]}}</li>
			<li>Apellidos : {{detalleClient["surnames"]}}</li>
			<li>Correo Electrónico : {{detalleClient["email"]}}</li>
			<li>Rol  : {{detalleClient["roles"]}}</li>
{# 			<li>Archivos : {{detalleClient["files"]}}</li> #}
			<li>Telefono : {{detalleClient["phone"]}}</li>
{# 			<li>Eventos : {{detalleClient["events"]}}</li> #}
			
			
		</ul>
	</nav>
		
	</div>
{% endblock %}