{% extends 'layout.html.twig' %}
    {% block content %}
    <div class="container">
	<h1>FSAEHUUHIEWFUEWFUHIIHU</h1>
                <div >
                 {# Cálculo de valores para la paginación #}
			 {% set elementsPerPage = 5 %}
			{% set lowerLimit = (page -1) * elementsPerPage + 1 %}
			{% set upperLimit = page * elementsPerPage %} 
			{# List de resultados paginado #}
			{% for task in data %}
				{% if loop.index >= lowerLimit and loop.index <= upperLimit %} 
					<tr>
						<td>
							<a href="{{ path('app_detailUser', {usuario:task["id"]}) }}">{{ task["name"] }}</a>
						</td>
						<td>
							{{task["email"] }}
						</td>
						<td>
							{{task["roles"] }}
						</td>
						<td>
 							<a href="{{ path('app_deleteUser', {usuario:task["id"]}) }}"> [x] </a>  
						</td>
						<td>
							<a href=' {{ path('app_updateUser',{usuario:task["id"]}) }} '>[U]</a> 
						</td>
					</tr>
					<br>
				 {% endif %} 
			{% endfor %}

{# 			<details>
				<summary>HOLA</summary>
				<p>Hola buenas tardes</p>
			</details> #}
		</table>
		{# Navegador #}
		 {% set totalPages = (((data|length)/elementsPerPage)|round(0, 'ceil')) %}
		{% if page > 1 %}
			<a href="{{ path('app_panel',{'page':1}) }}">&lt;&lt;</a>
			<a href="{{ path('app_panel',{'page':page - 1}) }}">&lt;</a>
		{% else %}
			<span>&lt;&lt;</span>
			<span>&lt;</span>
		{% endif %}
		{% for pageButton in 1..totalPages %}
			{% if pageButton == page%}
				<span>{{ pageButton }}</span>
			{% else %}
				<a href="{{ path('app_panel',{'page':pageButton}) }}">{{ pageButton }}</a>
			{% endif %}
		{% endfor %}
		{% if page < totalPages %}
			<a href="{{ path('app_panel',{'page':page + 1}) }}">&gt;</a>
			<a href="{{ path('app_panel',{'page':totalPages}) }}">&gt;&gt;</a>
		{% else %}
			<span>&gt;</span>
			<span>&gt;&gt;</span>
		{% endif %} 
             
      </div>
    </div>
{% endblock %}