{% extends 'layout.html.twig' %}
    {% block content %}
    	<div id="content">
	<h3>Usuario SELECCIONADO:</h3>
	<nav>
		<ul>
			<li>ID Usuario : {{detalleClient[0]["id"]}}</li>
			<li>Correo Electrónico : {{detalleClient[0]["email"]}}</li>
			<li>Rol  : {{detalleClient[0]["roles"]}}</li>
			<li>Archivos : {{detalleClient[0]["files"]}}</li>
			<li>Eventos : {{detalleClient[0]["events"]}}</li>
			<li>Telefono : {{detalleClient[0]["phone"]}}</li>
			<li>Nombre : {{detalleClient[0]["name"]}}</li>
			<li>Apellidos : {{detalleClient[0]["surnames"]}}</li>
		</ul>
	</nav>
		
	</div>
{% endblock %}