{% extends 'layout.html.twig' %}
    {% block content %}
    	<div id="content">
	<h3>Usuario SELECCIONADO:</h3>
	<nav>
		<ul>
			<li>ID Usuario : {{detalleClient["id"]}}</li>
			<li>Nombre : {{detalleClient["name"]}}</li>
			<li>Apellidos : {{detalleClient["surnames"]}}</li>
			<li>Correo Electrónico : {{detalleClient["email"]}}</li>
			<li>Rol  : {{detalleClient["roles"]}}</li>
 			
			{% for task in detalleClient["files"] %}
				<li>Archivos : {{task["idFile"]}}, {{task["name"]}}, {{task["type"]}}</li> 
			{% endfor %}	 
			<li>Telefono : {{detalleClient["phone"]}}</li>
			{% for events in detalleClient["events"] %}
 				<li>Eventos : {{task["id"]}},  {{task["name"]}},  {{task["place"]}}</li> 
			{% endfor %}
			
		</ul>
	</nav>
		
	</div>
{% endblock %}