{% extends 'layout.html.twig' %}

{% block content %}
	<section id="content">	
	<div class="container">
	<a class="btn btn-primary" href="/twig/listUser/">⇦</a>
		<h2>Actualizar usuario {{user.getName()}} {{user.getSurNames()}}</h2>
		<article class="eventList">
			<form method="post" action="" class="row">
				<label for="email" class="form-label">Email del usuario</label>
				<div  class="mb-3 col-lg-8">
					<input name="email" type="text" class="form-control" value="{{user.getEmail()}}"/>
				</div>

				<label for="name" class="form-label">Nombre del usuario </label>
				<div  class="mb-3 col-lg-8">
					<input name="name" type="text" class="form-control" value="{{user.getName()}}"/>
				</div>

				
				<label for="surnames" class="form-label">Apellidos usuario</label>
				<div  class="mb-3 col-lg-8">
					<input name="surnames" type="text" class="form-control" value="{{user.getSurNames()}}"/>
				</div>

				<label for="roles" class="form-label">Rol del usuario</label>
				<div  class="mb-3 col-lg-8">
					<select class="form-select" aria-label="Default select example" name="roles">
						<option value='["USER"]' {% if user.getRoles()[0] == "USER" %} selected {% endif %} >Usuario</option>
						<option value='["ADMIN"]'{% if user.getRoles()[0] == "ADMIN" %} selected {% endif %}>Administrador</option>
					</select>
				</div>
				
				
				<label for="phone" class="form-label">Telefono del usuario</label>
				<div  class="mb-3 col-lg-8">
					<input name="phone" type="text" class="form-control" value="{{user.getPhone()}}"/>
				</div>

				<div>
					<input type="submit" class="btn btn-primary mb-3 col-lg-3" name="submit" value="Actualizar usuario"/>
				</div>
		</form>
		</article>
	</div>
	</section>
{% endblock %}
