{% extends 'layout.html.twig' %}
    {% block content %}
	<section id="content">
    <div class="container">
	<h1 class="text-uppercase">Adminisratrador de productos </h1>
	<a href="/twig/insertProducts/{{ categoria }}" class="btn btn-primary">Nuevo</a>
			{% for task in data %}
			
			<article class="eventList">
							<a>{{task["nameProduct"]}}</a>
							<a href="/twig/DetailProducts/{{ task["idProduct"] }}" class="btn btn-primary">Detalles</a>
 							 <a href="/twig/deleteProducts/{{ task["idProduct"] }}" class="btn btn-danger">Borrar  </a>  
							<a href='/twig/updateProducts/{{ task["idProduct"] }} ' class="btn btn-warning">Actualizar</a>  
			</article><br>
			{% endfor %}
    </div>
	</section>
{% endblock %}