{% extends 'layout.html.twig' %}
    {% block content %}
       
  <section id="content">
    <div class="container">
		
	<a class="btn btn-primary" href="/twig/listEvent">⇦</a>
	<h1>Detalle de {{data.getNameProduct()}} <a class="btn btn-success" href="/twig/insertEvent">Crear</a></h1> 
	<article class="eventList">
					<span class="text-muted">{{ data.getIdProduct() }}</span> - 
					<span class="text-muted me-3">{{ data.getNameProduct() }}</span>
					<div class="float-end">
					<a class="btn btn-warning" href="/twig/updateProducts/{{data.getIdProduct()}}">Editar Producto</a>
					<a class="btn btn-danger" href="/twig/deleteProducts/{{data.getIdProduct()}}">Borrar Producto</a>
					</detail>
					</article>
    </div>
  </section>
{% endblock %}