{% extends 'layout.html.twig' %}
    {% block content %}
  <div class="container">
    <h1>Actualizar ficheros para <strong> {{ user.getName() }} {{ user.getSurnames() }} </strong></h1>
    <div class="contenedor mb-3">

      <form method="post" action="" class="row ms-3">

      {% for file in userFiles %}
      <div class="mb-3 col-lg-4">
						<input class="form-control" name="name{{file.getIdFile()}}" type="text" value="{{file.getName()}}">
			</div>
      <div class="mb-3 col-lg-4">
						<input class="form-control" name="type{{file.getIdFile()}}" type="text" value="{{file.getType()}}">
			</div>
      <div class="mb-3 col-lg-4">
        <input class="form-check-input" type="checkbox" id="isSubmited" name="isSubmited{{file.getIdFile()}}"{% if file.isIsSubmited() == true %} checked {% endif %}>
         <label class="form-check-label" for="isSubmited">El fichero ha sido entregado por el usuario?</label>
      </div>
      {% endfor %}
{#         <label class="form-label mt-3" for="name"> Nombre del fichero: </label>
        <div class="mb-3 col-lg-8">
						<input class="form-control" name="name" type="text" value="">
				</div>

        <label class="form-label mt-3" for="type"> tipo del fichero (eg. documentación): </label>
        <div class="mb-3 col-lg-8">
						<input class="form-control" name="type" type="text" value="">
				</div>
        <div class="mb-3 col-lg-8">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="isSubmited">
          <label class="form-check-label" for="exampleCheck1">El fichero ha sido entregado por el usuario?</label>
        </div> #}
        <div class="mb-3 col-lg-8">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
