{% extends 'layout.html.twig' %}
    {% block content %}
       
  <section id="content">
    <div class="container">
	<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
	<a class="btn btn-primary" href="/twig/news">⇦</a>
					<article class="eventList mb-3">
						<h1>Noticia</h1> 
						<span class="fs-3 me-3">{{ task.getTitulo() }}</span>	
						<span class="text-muted">{{ task.getDate()|date('d/m/Y') }}</span> 
						<div class="float-end">
						<a class="btn btn-warning" href="/twig/updateNews/{{task.getId()}}">Editar Noticia</a>
						<a class="btn btn-danger" href="/twig/deleteNews/{{task.getId()}}">Borrar Noticia</a>
						</div>
                        <p class="mt-3"> {{task.getTexto()}} </p>
					</article>
    </div>
	</div>
  </section>
{% endblock %}