{% extends 'layout.html.twig' %}
    {% block content %}
       
  <section id="content">
    <div class="container">
	<h1>FSAEHUUHIEWFUEWFUHIIHU</h1>
                <div >
                 {# Cálculo de valores para la paginación #}
			 {% set elementsPerPage = 5 %}
			{% set lowerLimit = (page -1) * elementsPerPage + 1 %}
			{% set upperLimit = page * elementsPerPage %} 
			{# List de resultados paginado #}
			{% for task in data %}
				{% if loop.index >= lowerLimit and loop.index <= upperLimit %} 
					<p>
						{{ task.getIdCategoria() }}, {{task.getNameCategoria() }} , {{task.getProducts()}}
					</p>
				 {% endif %} 
			{% endfor %}
		</table>
		{# Navegador #}
		 {% set totalPages = (((data|length)/elementsPerPage)|round(0, 'ceil')) %}
		{% if page > 1 %}
			<a href="{{ path('app_categories',{'page':1}) }}">&lt;&lt;</a>
			<a href="{{ path('app_categories',{'page':page - 1}) }}">&lt;</a>
		{% else %}
			<span>&lt;&lt;</span>
			<span>&lt;</span>
		{% endif %}
		{% for pageButton in 1..totalPages %}
			{% if pageButton == page%}
				<span>{{ pageButton }}</span>
			{% else %}
				<a href="{{ path('app_categories',{'page':pageButton}) }}">{{ pageButton }}</a>
			{% endif %}
		{% endfor %}
		{% if page < totalPages %}
			<a href="{{ path('app_categories',{'page':page + 1}) }}">&gt;</a>
			<a href="{{ path('app_categories',{'page':totalPages}) }}">&gt;&gt;</a>
		{% else %}
			<span>&gt;</span>
			<span>&gt;&gt;</span>
		{% endif %} 
             
      </div>
    </div>
  </section>
</div>
{% endblock %}
